.homeBackgroundColor {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}
.homeContainer {
  max-width: 970px;
  width: 100%;
}
.experienceTitle {
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #f7f4f0;
  margin: 115px 0px 30px 0px;
}
.subHeading {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #f7f4f0;
  max-width: 638px;
  margin-bottom: 54px;
}
.crackersCard {
  border: 1px solid #9890804d;
  max-width: 227px;
  padding: 26px 42px 11px 46px;
  border-radius: 20px;
}
.crackerTitle {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #f7f4f0;
  text-align: center;
  margin-top: 10px;
}
.crackerHeading {
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #f7f4f0;
  margin-bottom: 54px;
}
.crackerKingTitle {
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #f7f4f0;
  margin: 20px 0px 10px 0px;
}
.crackerKingDesc {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #f7f4f0;
  max-width: 305px;
}
.missionHeading {
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #f7f4f0;
  margin-bottom: 30px;
}
.missinSubHeading {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #f7f4f0;
  max-width: 580px;
  margin-bottom: 54px;
}
.missionCard {
  max-width: 309px;
  padding: 30px 0px 30px 0px;
  background: radial-gradient(
      66.67% 108.69% at 50% 51.34%,
      rgba(228, 195, 108, 0.01) 0%,
      rgba(255, 224, 143, 0.06) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border: 1px solid #4c4639;
  width: 100%;
  border-radius: 20px;
}
.missionCardTitle {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.missionCardDesc {
  max-width: 249px;
  width: 1000%;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
.reviewHeading {
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #f7f4f0;
  margin-bottom: 54px;
}
.reviewCard {
  background-color: #2c2c2c;
  max-width: 308px;
  width: 100%;
  border-radius: 54px;
  padding: 30px 15px 30px 15px;
  gap: 20px;
}
.reviewCardQuote {
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  line-height: 60.51px;
  text-align: left;
  color: #ffffff;
}
.reviewCardDesc {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  margin-bottom: 10px;
}
.reviewCardName {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #ffffff;
}
.faq {
  text-align: center;
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #f7f4f0;
  margin-bottom: 54px;
}
.bulkSavingWrapper {
  border: 0.25px solid #989080;
  padding: 20px 20px 20px 20px;
  border-radius: 40px;
  max-width: 694px;
}
.bulksavingHeader {
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #f7f4f0;
  margin-bottom: 20px;
  text-align: center;
}
.bulksavingDesc {
  color: #f7f4f0;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
.bulksavingBtn {
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: #e4c36c;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  max-width: 279px;
  width: 100%;
  margin-top: 20px;
  padding: 15px 15px 15px 15px;
}
.bannerBg1 {
  background-image: url("../assets/bg1.jpeg");
  max-width: 1600px;
  width: 100%;
  /* height: 823px; */
  background-size: cover;
}
.bannerHeader {
  padding-top: 300px;
  font-family: Oswald;
  font-size: 57px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: center;
  margin-bottom: 30px;
}
.bannerSubHeader {
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: center;
  margin-bottom: 50px;
}

.ContactBtn {
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: #e4c36c;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  max-width: 200px;
  width: 100%;
  margin-top: 20px;
  padding: 15px 15px 15px 15px;
  color: #3d2e00;
}
.bannerBg2 {
  background-image: url("../assets/bg2.jpeg");
  max-width: 1500px;
  width: 100%;
  /* height: 823px; */
  background-size: cover;
}
.bannerBg3 {
  background-image: url("../assets/bg3.jpeg");
  max-width: 1500px;
  width: 100%;
  /* height: 823px; */
  background-size: cover;
  display: flex;
  justify-content: right;
}
.bannerSubHeader1 {
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: center;
  /* max-width: 350px; */
  color: #f7f4f0;
  text-align: left;
}
.bannerHeader1 {
  padding-top: 300px;
  font-family: Oswald;
  font-size: 57px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: start;
  margin-bottom: 30px;
}

.ContactBtn1 {
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: #e4c36c;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  max-width: 200px;
  width: 100%;
  padding: 15px 15px 15px 15px;
  color: #3d2e00;
}
.bannerBtn1 {
  display: flex;
  justify-content: center;
  padding-bottom: 341px;
}
.bannerBg3Container {
  width: 50%;
}
.bannerBtn2 {
  display: flex;
  justify-content: center;
  max-width: 350px;
  padding-bottom: 343px;
}
.bannerBtn {
  display: flex;
  justify-content: center;
  padding-bottom: 343px;
}
.crackerKingCard {
  min-width: 306px;
}
.homeBulkSaving {
  display: flex;
  gap: 20px;
  background: #1e1e1e;
  flex-wrap: wrap;
}
.experienceFilterContainer {
  display: flex;
  gap: 40px;
}
@media (max-width: 550px) {
  .crackerKingCard {
    text-align: center;
  }
  .crackerKingTitle {
    text-align: center;
  }
  .crackerKingDesc {
    text-align: center;
  }
  .homeBulkSaving {
    justify-content: center;
  }
  .experienceFilterContainer {
    gap: 0px;
    flex-wrap: wrap;
  }
}
